PRAGMA foreign_keys=OFF;
BEGIN TRANSACTION;
CREATE TABLE IF NOT EXISTS "django_migrations" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app" varchar(255) NOT NULL, "name" varchar(255) NOT NULL, "applied" datetime NOT NULL);
INSERT INTO django_migrations VALUES(1,'contenttypes','0001_initial','2022-03-18 02:31:46.711497');
INSERT INTO django_migrations VALUES(2,'auth','0001_initial','2022-03-18 02:31:47.035048');
INSERT INTO django_migrations VALUES(3,'account','0001_initial','2022-03-18 02:31:47.321221');
CREATE TABLE IF NOT EXISTS "auth_group_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO auth_group_permissions VALUES(1,1,1);
INSERT INTO auth_group_permissions VALUES(2,1,2);
INSERT INTO auth_group_permissions VALUES(3,1,3);
CREATE TABLE IF NOT EXISTS "auth_user_groups" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "group_id" integer NOT NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO auth_user_groups VALUES(1,1,1);
INSERT INTO auth_user_groups VALUES(4,12,4);
INSERT INTO auth_user_groups VALUES(6,14,2);
CREATE TABLE IF NOT EXISTS "auth_user_user_permissions" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "permission_id" integer NOT NULL REFERENCES "auth_permission" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "account_emailconfirmation" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "created" datetime NOT NULL, "sent" datetime NULL, "key" varchar(64) NOT NULL UNIQUE, "email_address_id" integer NOT NULL REFERENCES "account_emailaddress" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "account_emailaddress" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "verified" bool NOT NULL, "primary" bool NOT NULL, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "email" varchar(254) NOT NULL UNIQUE);
INSERT INTO account_emailaddress VALUES(6,0,1,12,'grace@gmail.com');
INSERT INTO account_emailaddress VALUES(8,0,1,14,'espe@gmail.com');
CREATE TABLE IF NOT EXISTS "django_admin_log" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "action_time" datetime NOT NULL, "object_id" text NULL, "object_repr" varchar(200) NOT NULL, "change_message" text NOT NULL, "content_type_id" integer NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "action_flag" smallint unsigned NOT NULL CHECK ("action_flag" >= 0));
INSERT INTO django_admin_log VALUES(1,'2022-03-18 02:34:47.210135','1','user 1','[{"added": {}}]',15,1,1);
INSERT INTO django_admin_log VALUES(2,'2022-03-18 02:37:45.014253','1','user 1','',15,1,3);
INSERT INTO django_admin_log VALUES(3,'2022-03-18 02:37:53.017211','2','user 2','[{"added": {}}]',15,1,1);
CREATE TABLE IF NOT EXISTS "django_content_type" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "app_label" varchar(100) NOT NULL, "model" varchar(100) NOT NULL);
INSERT INTO django_content_type VALUES(1,'admin','logentry');
INSERT INTO django_content_type VALUES(2,'auth','permission');
INSERT INTO django_content_type VALUES(3,'auth','group');
CREATE TABLE IF NOT EXISTS "auth_permission" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "content_type_id" integer NOT NULL REFERENCES "django_content_type" ("id") DEFERRABLE INITIALLY DEFERRED, "codename" varchar(100) NOT NULL, "name" varchar(255) NOT NULL);
INSERT INTO auth_permission VALUES(1,1,'add_logentry','Can add log entry');
INSERT INTO auth_permission VALUES(2,1,'change_logentry','Can change log entry');
INSERT INTO auth_permission VALUES(3,1,'delete_logentry','Can delete log entry');
CREATE TABLE IF NOT EXISTS "auth_group" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(150) NOT NULL UNIQUE);
INSERT INTO auth_group VALUES(1,'admin');
INSERT INTO auth_group VALUES(2,'s├®cr├®taire');
INSERT INTO auth_group VALUES(3,'client');
CREATE TABLE IF NOT EXISTS "auth_user" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "password" varchar(128) NOT NULL, "last_login" datetime NULL, "is_superuser" bool NOT NULL, "username" varchar(150) NOT NULL UNIQUE, "last_name" varchar(150) NOT NULL, "email" varchar(254) NOT NULL, "is_staff" bool NOT NULL, "is_active" bool NOT NULL, "date_joined" datetime NOT NULL, "first_name" varchar(150) NOT NULL);
INSERT INTO auth_user VALUES(1,'pbkdf2_sha256$260000$fYRLSe7yst3hzzUjykaF38$TTkaoexGaD2hGH7MSs/XF2evALnkU5T7sGCa/bKKNtU=','2025-06-14 08:06:31.865336',1,'admin','','angezanou00@gmail.com',1,1,'2022-03-18 02:33:07','');
INSERT INTO auth_user VALUES(12,'pbkdf2_sha256$260000$pldfJM5Sr1ufJ6XSHEny4s$YtmwtZlGVUZ+tduobMWAjpbGomRjBKGEf4vzOo9sLko=','2023-09-16 06:57:01.562798',0,'zbgl','','grace@gmail.com',0,1,'2022-06-12 22:14:07.993228','');
INSERT INTO auth_user VALUES(14,'pbkdf2_sha256$260000$iyTGPylDSeBMsYzBORh4Ye$in7+8ZXVYkajzFa6qd5QO8MnVhrqHsE0f4bePuum6WQ=','2023-09-14 08:09:40.699207',0,'espe','','espe@gmail.com',0,1,'2022-06-12 22:18:37.998275','');
CREATE TABLE IF NOT EXISTS "authtoken_token" ("key" varchar(40) NOT NULL PRIMARY KEY, "created" datetime NOT NULL, "user_id" integer NOT NULL UNIQUE REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "django_session" ("session_key" varchar(40) NOT NULL PRIMARY KEY, "session_data" text NOT NULL, "expire_date" datetime NOT NULL);
INSERT INTO django_session VALUES('0bcw449eg8pij4ijljd00hb7eph3q9km','.eJxVjDsOwjAQBe_iGln-xJ9Q0nMGa9e7xgHkSHFSIe4OkVJA-2bmvUSCba1p67ykicRZaHH63RDyg9sO6A7tNss8t3WZUO6KPGiX15n4eTncv4MKvX5rFdAWIkaMoLPJPoxkowMevDIOixqcyeRVKRCR2FtlRx2heIWOsw7i_QED3jiF:1nV2QV:iIBZUj-mN9-n7OgD2woTec321V-GH_vWF9EyDTVQU1A','2022-04-01 02:33:15.836896');
INSERT INTO django_session VALUES('y05u2a185nea8wno95qe1qmcvecjuw94','.eJxVjDsOwjAQBe_iGln-xJ9Q0nMGa9e7xgHkSHFSIe4OkVJA-2bmvUSCba1p67ykicRZaHH63RDyg9sO6A7tNss8t3WZUO6KPGiX15n4eTncv4MKvX5rFdAWIkaMoLPJPoxkowMevDIOixqcyeRVKRCR2FtlRx2heIWOsw7i_QED3jiF:1ntQ2q:mNuGvNYmsq5P53ZI2XM8yRd43hRmgLCb0mT7RMq8tXc','2022-06-07 08:37:36.170882');
INSERT INTO django_session VALUES('yyl7xjlvwkmtjcuu1cqgbio4eez5dte2','eyJhY2NvdW50X3ZlcmlmaWVkX2VtYWlsIjpudWxsfQ:1ntcnb:h2qek-c1MAah0V0YxJSnlMj2BdXh0Y-X7CY8tGrSKPo','2022-06-07 22:14:43.803524');
CREATE TABLE IF NOT EXISTS "django_site" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(50) NOT NULL, "domain" varchar(100) NOT NULL UNIQUE);
INSERT INTO django_site VALUES(1,'example.com','example.com');
CREATE TABLE IF NOT EXISTS "socialaccount_socialapp_sites" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "socialapp_id" integer NOT NULL REFERENCES "socialaccount_socialapp" ("id") DEFERRABLE INITIALLY DEFERRED, "site_id" integer NOT NULL REFERENCES "django_site" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "socialaccount_socialtoken" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "token" text NOT NULL, "token_secret" text NOT NULL, "expires_at" datetime NULL, "account_id" integer NOT NULL REFERENCES "socialaccount_socialaccount" ("id") DEFERRABLE INITIALLY DEFERRED, "app_id" integer NOT NULL REFERENCES "socialaccount_socialapp" ("id") DEFERRABLE INITIALLY DEFERRED);
CREATE TABLE IF NOT EXISTS "socialaccount_socialapp" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "provider" varchar(30) NOT NULL, "name" varchar(40) NOT NULL, "client_id" varchar(191) NOT NULL, "key" varchar(191) NOT NULL, "secret" varchar(191) NOT NULL);
CREATE TABLE IF NOT EXISTS "socialaccount_socialaccount" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "provider" varchar(30) NOT NULL, "uid" varchar(191) NOT NULL, "last_login" datetime NOT NULL, "date_joined" datetime NOT NULL, "user_id" integer NOT NULL REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "extra_data" text NOT NULL);
CREATE TABLE IF NOT EXISTS "hotel_floor" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL UNIQUE, "description" text NOT NULL, "number" integer NOT NULL UNIQUE, "status" varchar(7) NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL);
INSERT INTO hotel_floor VALUES(9,'Pas d''etage','Cet etage indique qu''il n''y a pas d''├®tage',0,'actif','2023-09-14 16:49:48.524830','2023-09-14 16:49:48.524872');
CREATE TABLE IF NOT EXISTS "hotel_roomtype" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "name" varchar(100) NOT NULL UNIQUE, "description" text NOT NULL, "numberAdult" integer NOT NULL, "numberChildren" integer NOT NULL, "price" integer NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL);
INSERT INTO hotel_roomtype VALUES(18,'Junior','Ce type de chambre represente les chambre standard',3,1,12500,'2023-09-14 16:52:01.570299','2023-09-14 16:52:01.570347');
INSERT INTO hotel_roomtype VALUES(19,'senior','senior',5,3,15000,'2023-09-14 17:01:56.094917','2025-06-11 19:49:42.553198');
INSERT INTO hotel_roomtype VALUES(20,'mini-suite','mini-suite',4,2,25000,'2023-09-14 17:02:48.299538','2025-06-11 19:49:29.119718');
CREATE TABLE IF NOT EXISTS "hotel_depense" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "title" varchar(50) NOT NULL, "description" text NOT NULL, "amount" integer NOT NULL, "date" date NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "spent_by_id" bigint NOT NULL REFERENCES "userAccount_profil" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO hotel_depense VALUES(7,'achat de compl├®ments','Nous avons achet├®s des produits en compl├®ments de ce qui manquait',5000,'2022-06-17','2022-06-17 20:57:39.107319','2022-06-17 20:57:39.107394',6);
CREATE TABLE IF NOT EXISTS "hotel_room" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "number" varchar(5) NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "floor_id" bigint NOT NULL REFERENCES "hotel_floor" ("id") DEFERRABLE INITIALLY DEFERRED, "type_id" bigint NOT NULL REFERENCES "hotel_roomtype" ("id") DEFERRABLE INITIALLY DEFERRED, "status" varchar(10) NOT NULL);
INSERT INTO hotel_room VALUES(12,'CH1','2023-09-14 16:52:33.465171','2023-09-14 16:52:33.465214',9,18,'lp');
INSERT INTO hotel_room VALUES(13,'ch2','2023-09-14 17:06:50.048166','2025-06-11 19:53:20.166167',9,18,'ls');
INSERT INTO hotel_room VALUES(14,'CH3','2023-09-14 17:08:11.082803','2023-09-14 17:08:11.082838',9,18,'lp');
CREATE TABLE IF NOT EXISTS "userAccount_profil" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "avatar" varchar(100) NOT NULL, "phone" varchar(50) NOT NULL, "name" varchar(50) NOT NULL, "email" varchar(250) NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "user_id" integer NULL UNIQUE REFERENCES "auth_user" ("id") DEFERRABLE INITIALLY DEFERRED, "address" varchar(50) NULL, "department" varchar(50) NULL, "dob" date NOT NULL, "firstname" varchar(100) NOT NULL, "gender" varchar(50) NOT NULL, "idNumber" varchar(20) NOT NULL, "idType" varchar(50) NOT NULL, "role_id" integer NULL REFERENCES "auth_group" ("id") DEFERRABLE INITIALLY DEFERRED, "domicile" varchar(150) NULL, "father" varchar(150) NULL, "id_delivered_by" varchar(150) NOT NULL, "job" varchar(50) NULL, "mother" varchar(150) NULL, "nationnalite" varchar(50) NULL, "id_delivered_at" date NOT NULL, "place_of_birth" varchar(50) NULL, "id_delivered_place" varchar(150) NOT NULL);
INSERT INTO userAccount_profil VALUES(5,'avatars/usericon.png','0747277080','Zanou','grace@gmail.com','2022-06-12 22:24:36.543509','2022-06-12 23:39:25.107035',12,'Yamoussoukro',NULL,'2004-06-02','Grace Lauraine','femme','C56780987567','cni',4,NULL,NULL,'2023-09-20 16:06:33.011143+00:00',NULL,NULL,NULL,'2023-09-20',NULL,'');
INSERT INTO userAccount_profil VALUES(6,'avatars/usericon.png','+3345678765567','Zannou','espe@gmail.com','2022-06-12 22:26:25.861782','2022-06-12 23:39:11.137702',14,'Le mans',NULL,'2004-06-02','esperance','femme','C567809876545','cni',2,NULL,NULL,'2023-09-20 16:06:33.011143+00:00',NULL,NULL,NULL,'2023-09-20',NULL,'');
INSERT INTO userAccount_profil VALUES(13,'avatars/usericon.png','0787572030','Zanou','angezanou00@gmail.com','2023-09-20 15:40:31.201724','2023-09-20 16:32:23.254837',1,'00225','Cote d''Ivoire','2023-09-20','Ange Aymar','homme','CI845120515','cni',1,'maison de moi','Papa de moi','derriere ma piece','travail de moi','maman de moi','ma nationnalit├®','2023-09-20','Abidjan','Abidjan');
CREATE TABLE IF NOT EXISTS "hotel_coupon" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "title" varchar(50) NOT NULL, "discount" integer NOT NULL, "code" varchar(10) NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "type" varchar(12) NOT NULL, "description" text NULL);
CREATE TABLE IF NOT EXISTS "hotel_facture" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "amount" integer NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "booking_id" bigint NOT NULL REFERENCES "hotel_booking" ("id") DEFERRABLE INITIALLY DEFERRED, "status" varchar(15) NOT NULL);
CREATE TABLE IF NOT EXISTS "hotel_payment" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "amount" integer NOT NULL, "status" varchar(15) NOT NULL, "type" varchar(15) NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "booking_id" bigint NOT NULL REFERENCES "hotel_booking" ("id") DEFERRABLE INITIALLY DEFERRED);
INSERT INTO hotel_payment VALUES(1,15000,'dp','espece','2025-06-13 10:40:35.418848','2025-06-13 10:40:35.418848',35);
INSERT INTO hotel_payment VALUES(2,15000,'dp','espece','2025-06-13 10:44:17.404737','2025-06-13 10:44:17.404737',35);
INSERT INTO hotel_payment VALUES(3,5000,'dp','espece','2025-06-13 11:40:55.771250','2025-06-13 11:40:55.771250',32);
CREATE TABLE IF NOT EXISTS "hotel_booking" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "checkIn" datetime NOT NULL, "checkOut" datetime NOT NULL, "status" varchar(15) NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "coupon_id" bigint NULL REFERENCES "hotel_coupon" ("id") DEFERRABLE INITIALLY DEFERRED, "guest_id" bigint NOT NULL REFERENCES "userAccount_profil" ("id") DEFERRABLE INITIALLY DEFERRED, "recorded_by_id" bigint NOT NULL REFERENCES "userAccount_profil" ("id") DEFERRABLE INITIALLY DEFERRED, "room_id" bigint NOT NULL REFERENCES "hotel_room" ("id") DEFERRABLE INITIALLY DEFERRED, "reference" varchar(10) NULL UNIQUE, "totalPrice" integer NOT NULL, "payment" varchar(15) NOT NULL, "adults" integer NOT NULL, "children" integer NOT NULL, "amountPaid" integer NOT NULL, "amountDue" integer NOT NULL);
INSERT INTO hotel_booking VALUES(30,'2025-06-10 12:00:00','2025-06-11 12:00:00','dt','2025-06-10 19:26:27.063440','2025-06-13 12:36:45.952199',NULL,16,13,27,'1786aa8dc5',25000,'espece',1,0,5000,20000);
INSERT INTO hotel_booking VALUES(31,'2025-06-11 22:27:00','2025-06-12 13:59:00','pj','2025-06-11 22:27:38.267557','2025-06-13 12:33:38.313894',NULL,16,13,22,'eb6f9407bb',30000,'espece',2,0,1000,29000);
INSERT INTO hotel_booking VALUES(32,'2025-06-11 22:28:00','2025-06-12 22:28:00','pj','2025-06-11 22:29:13.839872','2025-06-13 11:40:55.764405',NULL,16,13,26,'5aba1d6013',50000,'espece',1,0,5000,45000);
CREATE TABLE IF NOT EXISTS "hotel_reservation" ("id" integer NOT NULL PRIMARY KEY AUTOINCREMENT, "reference" varchar(10) NULL UNIQUE, "checkIn" datetime NOT NULL, "checkOut" datetime NOT NULL, "created_at" datetime NOT NULL, "updated_at" datetime NOT NULL, "guest_id" bigint NOT NULL REFERENCES "userAccount_profil" ("id") DEFERRABLE INITIALLY DEFERRED, "recorded_by_id" bigint NOT NULL REFERENCES "userAccount_profil" ("id") DEFERRABLE INITIALLY DEFERRED, "room_id" bigint NOT NULL REFERENCES "hotel_room" ("id") DEFERRABLE INITIALLY DEFERRED, "status" varchar(15) NOT NULL);
INSERT INTO hotel_reservation VALUES(10,'f5e794fa95','2025-06-11 22:28:00','2025-06-12 22:28:00','2025-06-11 22:28:57.692967','2025-06-11 22:31:28.200865',16,13,26,'confirm├®e');
DELETE FROM sqlite_sequence;
INSERT INTO sqlite_sequence VALUES('django_migrations',62);
INSERT INTO sqlite_sequence VALUES('account_emailaddress',10);
INSERT INTO sqlite_sequence VALUES('django_admin_log',101);
CREATE UNIQUE INDEX "auth_group_permissions_group_id_permission_id_0cd325b0_uniq" ON "auth_group_permissions" ("group_id", "permission_id");
CREATE INDEX "auth_group_permissions_group_id_b120cbf9" ON "auth_group_permissions" ("group_id");
CREATE INDEX "auth_group_permissions_permission_id_84c5c92e" ON "auth_group_permissions" ("permission_id");
CREATE UNIQUE INDEX "auth_user_groups_user_id_group_id_94350c0c_uniq" ON "auth_user_groups" ("user_id", "group_id");
CREATE INDEX "auth_user_groups_user_id_6a12ed8b" ON "auth_user_groups" ("user_id");
CREATE INDEX "auth_user_groups_group_id_97559544" ON "auth_user_groups" ("group_id");
CREATE UNIQUE INDEX "auth_user_user_permissions_user_id_permission_id_14a6b632_uniq" ON "auth_user_user_permissions" ("user_id", "permission_id");
CREATE INDEX "auth_user_user_permissions_user_id_a95ead1b" ON "auth_user_user_permissions" ("user_id");
CREATE INDEX "auth_user_user_permissions_permission_id_1fbb5f2c" ON "auth_user_user_permissions" ("permission_id");
CREATE INDEX "account_emailconfirmation_email_address_id_5b7f8c58" ON "account_emailconfirmation" ("email_address_id");
CREATE INDEX "account_emailaddress_user_id_2c513194" ON "account_emailaddress" ("user_id");
CREATE INDEX "django_admin_log_content_type_id_c4bce8eb" ON "django_admin_log" ("content_type_id");
CREATE INDEX "django_admin_log_user_id_c564eba6" ON "django_admin_log" ("user_id");
CREATE UNIQUE INDEX "django_content_type_app_label_model_76bd3d3b_uniq" ON "django_content_type" ("app_label", "model");
CREATE UNIQUE INDEX "auth_permission_content_type_id_codename_01ab375a_uniq" ON "auth_permission" ("content_type_id", "codename");
CREATE INDEX "auth_permission_content_type_id_2f476e4b" ON "auth_permission" ("content_type_id");
CREATE INDEX "django_session_expire_date_a5c62663" ON "django_session" ("expire_date");
CREATE UNIQUE INDEX "socialaccount_socialtoken_app_id_account_id_fca4e0ac_uniq" ON "socialaccount_socialtoken" ("app_id", "account_id");
CREATE UNIQUE INDEX "socialaccount_socialapp_sites_socialapp_id_site_id_71a9a768_uniq" ON "socialaccount_socialapp_sites" ("socialapp_id", "site_id");
CREATE INDEX "socialaccount_socialapp_sites_socialapp_id_97fb6e7d" ON "socialaccount_socialapp_sites" ("socialapp_id");
CREATE INDEX "socialaccount_socialapp_sites_site_id_2579dee5" ON "socialaccount_socialapp_sites" ("site_id");
CREATE INDEX "socialaccount_socialtoken_account_id_951f210e" ON "socialaccount_socialtoken" ("account_id");
CREATE INDEX "socialaccount_socialtoken_app_id_636a42d7" ON "socialaccount_socialtoken" ("app_id");
CREATE UNIQUE INDEX "socialaccount_socialaccount_provider_uid_fc810c6e_uniq" ON "socialaccount_socialaccount" ("provider", "uid");
CREATE INDEX "socialaccount_socialaccount_user_id_8146e70c" ON "socialaccount_socialaccount" ("user_id");
CREATE INDEX "hotel_depense_spent_by_id_656fddc2" ON "hotel_depense" ("spent_by_id");
CREATE INDEX "hotel_room_floor_id_c0b14d27" ON "hotel_room" ("floor_id");
CREATE INDEX "hotel_room_type_id_5dbd4790" ON "hotel_room" ("type_id");
CREATE INDEX "userAccount_profil_role_id_2b5ff2af" ON "userAccount_profil" ("role_id");
CREATE INDEX "hotel_facture_booking_id_577783a6" ON "hotel_facture" ("booking_id");
CREATE INDEX "hotel_payment_booking_id_2e72b22f" ON "hotel_payment" ("booking_id");
CREATE INDEX "hotel_booking_coupon_id_141054c7" ON "hotel_booking" ("coupon_id");
CREATE INDEX "hotel_booking_guest_id_4f3b792e" ON "hotel_booking" ("guest_id");
CREATE INDEX "hotel_booking_recorded_by_id_e1622f62" ON "hotel_booking" ("recorded_by_id");
CREATE INDEX "hotel_booking_room_id_4b94bb3e" ON "hotel_booking" ("room_id");
CREATE INDEX "hotel_reservation_guest_id_7a07305e" ON "hotel_reservation" ("guest_id");
CREATE INDEX "hotel_reservation_recorded_by_id_d5ab6f74" ON "hotel_reservation" ("recorded_by_id");
CREATE INDEX "hotel_reservation_room_id_da1476cd" ON "hotel_reservation" ("room_id");
COMMIT;
